<div class="filter_block" *ngIf="!isLoading && filteredProducts && !componentLoaded">
  <mat-form-field >
    <mat-label>Choisissez une catégorie</mat-label>
    <mat-select [formControl]="catControl">
      <mat-option *ngFor="let cat of categories" [value]="cat.title">{{cat.title}}</mat-option>
      <mat-option value="all-products">Voir tous les produits</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Choisissez une sous-catégorie</mat-label>
    <mat-select [formControl]="subCatControl">
      <mat-option *ngFor="let sub of subCategories" [value]="sub">{{sub}}</mat-option>
      <mat-option value="all-products">Voir tous les produits</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="cards-container" *ngIf="!componentLoaded">
  <p *ngIf="filteredProducts && filteredProducts.length <= 0 && !isLoading" class="info-text">Aucun produit trouvé</p>
  <div class="add-product" *ngIf="!isLoading">
    <button type="button" routerLink='create' mat-raised-button color="primary" class="add-product__button">
      Ajouter un produit
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isLoading"></mat-progress-bar>
  <div class="cards_block" *ngIf="!isLoading && filteredProducts && filteredProducts.length > 0">
    <mat-card *ngFor="let product of filteredProducts" [class.mat-elevation-z2]="!product.hovered" [class.mat-elevation-z8]="product.hovered" (mouseenter)="product.hovered = true" (mouseleave)="product.hovered = false">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.category}} / {{product.subCategory}}</mat-card-subtitle>
      </mat-card-header>
      <div class="price_block">
        {{product.price}} DHS
      </div>
      <div class="image_block">
        <img mat-card-image [src]="product.image" [alt]="product.title">
      </div>
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [routerLink]="['edit', product._id]">Modifier</button>
        <button mat-button color="warn" (click)="onDelete(product._id)">Supprimer</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<router-outlet (activate)="onComponentLoaded($event)" (deactivate)="onComponentUnloaded($event)"></router-outlet>
