<div class="header">
  <app-bottom-header></app-bottom-header>
</div>

<div class="card_block" [@flyIn]>
  <mat-card class="mat-elevation-z5">
    <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" *ngIf="!isLoading">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
        matInput
        type="email"
        placeholder="Email"
        required
        email
        formControlName="email"
        >
        <mat-icon matSuffix *ngIf="resetPasswordForm.get('email').valid">done</mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">Ce champ est <strong>requis</strong></mat-error>
        <mat-error *ngIf="resetPasswordForm.get('email').hasError('email') && !resetPasswordForm.get('email').hasError('required')">Veuillez entrer un email <strong>valide</strong></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nouveau mot de passe</mat-label>
        <input
        matInput
        type="password"
        placeholder="Nouveau mot de passe"
        formControlName="password"
        required
        >
        <mat-hint><strong>Requis : supérieur à 5 caractères</strong></mat-hint>
        <mat-icon matSuffix *ngIf="resetPasswordForm.get('password').valid">done</mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">Ce champ est <strong>requis</strong></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirmez nouveau votre mot de passe</mat-label>
        <input
        matInput
        type="password"
        placeholder="Confirmation du nouveau mot de passe"
        formControlName="confirmPassword"
        required
        >
        <mat-icon matSuffix *ngIf="resetPasswordForm.get('confirmPassword').valid && resetPasswordForm.get('password').valid && passwordMatch()">done</mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">Ce champ est <strong>requis</strong></mat-error>
        <mat-error *ngIf="!passwordMatch() && !resetPasswordForm.get('confirmPassword').hasError('required')">Veuillez renseigner le <strong>même</strong> mot de passe</mat-error>
      </mat-form-field>
      <div class="buttons">
        <button [disabled]="!resetPasswordForm.valid" mat-raised-button color="primary" type="submit">Enregistrer</button>
      </div>
    </form>
  </mat-card>
</div>

