@import '~@angular/material/theming';

$cp-primary-red: (
    50 : #f4e4e6,
    100 : #e3bbc1,
    200 : #d08e98,
    300 : #bd606f,
    400 : #ae3e50,
    500 : #a01c31,
    600 : #98192c,
    700 : #8e1425,
    800 : #84111f,
    900 : #730913,
    A100 : #ffa4aa,
    A200 : #ff717a,
    A400 : #ff3e4a,
    A700 : #ff2532,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$cp-secondary-beige: (
    50 : #fefcfb,
    100 : #fdf8f5,
    200 : #fbf4ee,
    300 : #f9f0e7,
    400 : #f8ece1,
    500 : #f7e9dc,
    600 : #f6e6d8,
    700 : #f5e3d3,
    800 : #f3dfce,
    900 : #f1d9c5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$carreh-primary: (
    50 : #faf3eb,
    100 : #f2e0cc,
    200 : #e9cbaa,
    300 : #e0b688,
    400 : #d9a76f,
    500 : #d29755,
    600 : #cd8f4e,
    700 : #c78444,
    800 : #c17a3b,
    900 : #b6692a,
    A100 : #fffaf6,
    A200 : #ffddc3,
    A400 : #ffbf90,
    A700 : #ffb177,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$carreh-accent: (
    50 : #fff8f0,
    100 : #ffeedb,
    200 : #ffe2c3,
    300 : #ffd6aa,
    400 : #ffce98,
    500 : #ffc586,
    600 : #ffbf7e,
    700 : #ffb873,
    800 : #ffb069,
    900 : #ffa356,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffdfb,
    A700 : #ffeee1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




